.container-fluid
    .row
        .col-md-8.offset-md-2
            %h1.text-center Top 20 Candidates by #{@cat} in year #{@cyc}
            .table-responsive-md.pt-5
                %table.table.table-striped.table-hover#events
                    %thead.thead-dark
                        %tr        
                            %th Name
                            %th #{@cat}
                    %tbody
                        - @table.each do |row|
                            %tr
                                %td= row[0]
                                %td= row[1]
                            

